<div class="container-add">
    <div class="add-task">
        <input #inputDescription type="text" placeholder="Adicione uma tarefa">
        <button mat-mini-fab (click)='addTask(inputDescription.value)'><span class="material-icons">add</span></button>
    </div>
</div>

<div class="container spc-top">

    <mat-card>
        <table>
            <thead>
                <tr>
                    <th>Concluido</th>
                    <th>Task</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let task of tasks; let i = index'>
                    <td><input type="checkbox" [checked]='task.done'></td>
                    <td>{{task.description}}</td>
                    <td><span style="cursor: pointer;" class="material-icons" (click)='deleteTask(i)'>
                        remove_circle
                        </span>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </mat-card>


</div>